<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matilda's Journal</title>
</head>
<body>
     <h1>Welcome to my Journal!</h1>
     <p>Hello! This is a Python project using Django to create a Journal like website for my dog! Her name is Matilda, thanks for dropping by!</p>
     <img src = "static/images/matilda_teste.png" width="120" height="90">
     <p>You can check the publications in the link below!</p>
    <a href = "publications">To publications!</a>
</body>
</html>